<!-- This example requires Tailwind CSS v2.0+ -->
<div class="flex flex-col flex-grow pt-5 pb-4 bg-gray-800 overflow-y-auto">
  <div class="mt-6 px-6 mx-auto">
    <%= link_to root_path do %>
      <%= image_tag 'insight.png', class: 'w-24 h-6' %>
    <% end %>
  </div>
  <div class="mt-12 flex-grow flex flex-col">
    <nav class="flex-1 px-2 space-y-1 bg-gray-800" aria-label="Sidebar">
      <div class="space-y-1" data-controller="sidebar">
        <button data-action="click->sidebar#toggle" class="hover:text-gray-200 hover:bg-gray-700 text-white group w-full flex items-center justify-between p-3 text-sm font-medium rounded-md focus:outline-none">
          <div class='flex items-center'>
            <svg class="block h-5 w-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 19v-6a2 2 0 00-2-2H5a2 2 0 00-2 2v6a2 2 0 002 2h2a2 2 0 002-2zm0 0V9a2 2 0 012-2h2a2 2 0 012 2v10m-6 0a2 2 0 002 2h2a2 2 0 002-2m0 0V5a2 2 0 012-2h2a2 2 0 012 2v14a2 2 0 01-2 2h-2a2 2 0 01-2-2z" />
            </svg>
            <span class="ml-4">數據分析</span>
          </div>
          <svg class="block w-5 h-5 transform" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" data-sidebar-target="rotate">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
          </svg>
        </button>
        <div class="space-y-1" data-sidebar-target="menu">
          <%= link_to '總覽', dashboard_path, class: 'group w-full flex items-center pl-12 p-3 text-sm font-medium text-white rounded-md hover:text-gray-200 hover:bg-gray-700' %>
          <%= link_to '洞察', '#', class: 'group w-full flex items-center pl-12 p-3 text-sm font-medium text-white rounded-md hover:text-gray-200 hover:bg-gray-700' %>
          <%= link_to '流量', traffic_chart_by_members_path, class: 'group w-full flex items-center pl-12 p-3 text-sm font-medium text-white rounded-md hover:text-gray-200 hover:bg-gray-700' %>
        </div>
      </div>
      <div class="space-y-1" data-controller="sidebar">
        <button data-action="click->sidebar#toggle" class="hover:text-gray-200 hover:bg-gray-700 text-white group w-full flex items-center justify-between p-3 text-sm font-medium rounded-md focus:outline-none">
          <div class='flex items-center'>
            <svg class="block h-5 w-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4.354a4 4 0 110 5.292M15 21H3v-1a6 6 0 0112 0v1zm0 0h6v-1a6 6 0 00-9-5.197M13 7a4 4 0 11-8 0 4 4 0 018 0z" />
            </svg>
            <span class="ml-4">會員管理</span>
          </div>
          <svg class="block w-5 h-5 transform" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" data-sidebar-target="rotate">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
          </svg>
        </button>
        <div class="space-y-1" data-sidebar-target="menu">
          <%= link_to '會員', members_path, class: 'group w-full flex items-center pl-12 p-3 text-sm font-medium text-white rounded-md hover:text-gray-200 hover:bg-gray-700' %>
          <%= link_to '標籤', tags_path, class: 'group w-full flex items-center pl-12 p-3 text-sm font-medium text-white rounded-md hover:text-gray-200 hover:bg-gray-700' %>
          <%# link_to '分眾', audience_groups_path, class: 'group w-full flex items-center pl-12 p-3 text-sm font-medium text-white rounded-md hover:text-gray-200 hover:bg-gray-700' %>
          <%= link_to '分眾', audiences_path, class: 'group w-full flex items-center pl-12 p-3 text-sm font-medium text-white rounded-md hover:text-gray-200 hover:bg-gray-700' %>
        </div>
      </div>

      <div class="space-y-1" data-controller="sidebar">
        <button data-action="click->sidebar#toggle" class="hover:text-gray-200 hover:bg-gray-700 text-white group w-full flex items-center justify-between p-3 text-sm font-medium rounded-md focus:outline-none">
          <div class='flex items-center'>
            <svg class="block w-5 h-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 8l7.89 5.26a2 2 0 002.22 0L21 8M5 19h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z" />
            </svg>
            <span class="ml-4">訊息中心</span>
          </div>
          <svg class="block w-5 h-5 transform" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" data-sidebar-target="rotate">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
          </svg>
        </button>
        <div class="space-y-1" data-sidebar-target="menu">
          <%= link_to '自動流程', flows_path, class: 'group w-full flex items-center pl-12 p-3 text-sm font-medium text-white rounded-md hover:text-gray-200 hover:bg-gray-700' %>
          <%= link_to '分眾推播', broadcasts_path, class: 'group w-full flex items-center pl-12 p-3 text-sm font-medium text-white rounded-md hover:text-gray-200 hover:bg-gray-700' %>
        </div>
      </div>
      <div class="space-y-1">
        <%= link_to rooms_path, class: "text-white hover:text-gray-200 hover:bg-gray-700 group w-full flex items-center justify-between p-3 text-sm font-medium rounded-md focus:outline-none" do %>
          <div class='flex items-center'>
            <svg class="block h-5 w-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 12h.01M12 12h.01M16 12h.01M21 12c0 4.418-4.03 8-9 8a9.863 9.863 0 01-4.255-.949L3 20l1.395-3.72C3.512 15.042 3 13.574 3 12c0-4.418 4.03-8 9-8s9 3.582 9 8z" />
            </svg>
            <span class="ml-4">客服對話</span>
          </div>
        <% end %>
      </div>
      <div class="space-y-1">
        <%= link_to shortened_urls_path, class: "text-white hover:text-gray-200 hover:bg-gray-700 group w-full flex items-center justify-between p-3 text-sm font-medium rounded-md focus:outline-none" do %>
          <div class='flex items-center'>
            <svg class="block h-5 w-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13.828 10.172a4 4 0 00-5.656 0l-4 4a4 4 0 105.656 5.656l1.102-1.101m-.758-4.899a4 4 0 005.656 0l4-4a4 4 0 00-5.656-5.656l-1.1 1.1" />
            </svg>
            <span class="ml-4">短網址</span>
          </div>
        <% end %>
      </div>
      <div class="space-y-1">
        <%= link_to resources_path, class: "text-white hover:text-gray-200 hover:bg-gray-700 group w-full flex items-center justify-between p-3 text-sm font-medium rounded-md focus:outline-none" do %>
          <div class='flex items-center'>
            <svg class="block h-5 w-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6V4m0 2a2 2 0 100 4m0-4a2 2 0 110 4m-6 8a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4m6 6v10m6-2a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4" />
            </svg>
            <span class="ml-4">數據串接</span>
          </div>
        <% end %>
      </div>
    </nav>
  </div>
</div>
