<li id="<%= dom_id(product) %>">
  <div class="min-w-0 flex-1 flex items-center">
    <div class="min-w-0 flex-1 flex items-center px-4 py-3 sm:px-6 md:grid md:grid-cols-5 md:gap-5">
      <div>
        <p class="text-sm text-gray-800 truncate"><%= product.name %></p>
      </div>
      <div>
        <p class="text-sm text-gray-800 truncate"><%= product.price %></p>
      </div>
      <div>
        <p class="text-sm text-gray-800 truncate"><%= product.discount_price %></p>
      </div>
      <div>
        <p class="text-sm text-gray-800 truncate"><%= product.source_title %></p>
      </div>

      <div class="flex justify-end">
        <%= link_to edit_admin_product_path(product), class: "text-gray-600 hover:text-gray-900 pl-4", 'data-turbo-frame': '_top' do %>
          <svg class="w-8 h-8 p-1 border-2 rounded" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z"></path></svg>
        <% end %>
        <%= link_to admin_product_path(product), method: 'delete', class: "text-gray-600 hover:text-gray-900 pl-4" do %>
          <svg class="w-8 h-8 p-1 border-2 rounded" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16"></path></svg>
        <% end %>
      </div>
    </div>
  </div>
</li>
