
<!DOCTYPE html>
<html>
  <head>
    <title>Single Store</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbo-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbo-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbo-track': 'reload' %>
  </head>

  <body>
    <%= render partial: "shared/navbar" %>
    <div class="h-screen flex overflow-hidden bg-gray-50">
      <div class="hidden md:flex md:flex-shrink-0">
        <div class="flex flex-col w-64">
          <%= render partial: "shared/sidebar" %>
        </div>
      </div>
      <div class="flex flex-col w-0 flex-1 overflow-hidden">
        <main class="flex-1 relative z-0 overflow-y-auto focus:outline-none" tabindex="0">
          <div class="h-full">
            <%= turbo_frame_tag 'flash' do %>
              <%= render partial: 'shared/flash' %>
            <% end %>
            <%= yield %>
          </div>
        </main>
      </div>
    </div>
  </body>
</html>
